{% extends "client/master.html" %}
{% load static %}

{% block title %} {{ client.client_name.upper }} SURVEY {% endblock %}

{% block main %}
<form action="{% url 'client:survey' client.company_id %}" method="post">
{% csrf_token %}
<label for="butSurvey"><strong>Please take this short survey. Thank you!</strong></label>
<button id="butSurvey" type="submit" autofocus>GO TO SURVEY!</button>
</form>

<div class="survey_index">
<fieldset>
<legend>SURVEY SUMMARY</legend>
<table>
<tr>
	<td>TOTAL NUMBER OF QUESTIONS</td>
	<td>{{ total_ques }}</td>
</tr>
<tr>
	<td>TOTAL NUMBER OF RESPONSES</td>
	<td>{{ total_response }}</td>
</tr>
</table>
<br/><br/>

<table>
<tr>
	<td><strong>QUESTION</strong></td>
	<td><strong>MAX</strong></td>
	<td><strong>MIN</strong></td>
	<td><strong>AVERAGE</strong></td>
</tr>
{% for s in stats %}
<tr>
	<td>{{ s.ques }}</td>
	<td>{{ s.user_response__max }}</td>
	<td>{{ s.user_response__min }}</td>
	<td>{{ s.user_response__avg }}</td>
</tr>
{% endfor %}
</table>

<br/><br/>
<a href="{% static 'client' %}/{{ client.company_id }}.pdf" target="_blank">
	<button>DOWNLOAD REPORT</button>
</a>
<br/><br/>

{% for i in charts %}
<img src="{% static 'client/charts/' %}{{ i }}.png" />
{% endfor %}

</fieldset>

<br/><br/>

<a href="{% url 'ts:index' %}">Go to home</a>
</div>
{% endblock %}

